{% extends "base.html" %}
{% load i18n %}  

{% block layout %}container{% endblock %}

{% block content %}

  <div class="container">

    <div class="row">

      <span class="span8 offset2">

        <h1>{% trans "View Message" %}</h1>

        <div class="message pin">

          <div class="header">
            <h2>{{ message.subject }}</h2>
            <ul class="info">
              <li>
                <label>From:</label>
                {{ message.sender.profile.signature }}
              </li>
              <li>
                <label>To:</label>
                {{ message.recipient.profile.signature }}
              </li>
              <li class="sent">
                {{ message.sent_at|date:_("DATETIME_FORMAT")}}
              </li>
            </ul>
          </div>

          <div class="body">
            {{ message.body|linebreaksbr }}
          </div>

          <div class="footer">
            <a href="{% url messages_delete message.id %}" class="delete btn" title="Delete this message"><i class="icon-trash"></i> <span>{% trans "Delete" %}</span></a>
            {% ifequal message.recipient.pk user.pk %}
              <a href="{% url messages_reply message.id %}" class="reply btn btn-primary">{% trans "Reply" %}</a>
            {% endifequal %}
            <a href="{% url messages_inbox %}" class="back btn">{% trans "Back to Messages" %}</a>
          </div>

        </div>

      </span>

    </div>

  </div>

{% endblock %}
